.navbar-nav {
    li {
        margin-left: 10px;
    }
}

.navbar-logo{
    border-right: 1px solid rgba(255,255,255,.5);
    padding-right: 15px;

    img {
        width: 70px;
        height: 50px;
    }
}
