img{
    width: 100%;
    height: 225px;
}

.link-secondary {
    height: 100px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    overflow: hidden;
}

.card{
    margin-bottom: 15px;
}